html, body {
  margin: 0;
  padding: 0;
}

.board {
  width: 100%;
  height: 100%;
  background: orange;
  position: relative;
}


.board-inner {
  width: 100%;
  height: 100%;
  background: orange;
  position: relative;
}

.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  background: blue;
}