html, body {
  margin: 0;
  padding: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  position: relative;
  box-shadow: 0 0 0 6px inset blue;
}


.board-inner {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 0 3px inset purple;
}

.cursor {
  width: 20px;
  height: 20px;
  position: absolute;
  background: blue;
  transition: all 333ms linear;
}