html, body {
  margin: 0;
  padding: 0;
}

.board {
  width: 100vw;
  height: 100vh;
  position: relative;
  box-shadow: 0 0 0 6px inset blue;
}


.board-inner {
  width: 100%;
  height: 100%;
  position: relative;
  box-shadow: 0 0 0 3px inset purple;
}

.pieces {
  width: 100%;
  height: 100%;
  position: relative;
}

.piece {
  position: absolute;
  background: purple;
  opacity: 0.25;
  transition: all 1000ms linear;
}

.cursor {
  width: 20px;
  height: 20px;
  border-radius: 100px;
  position: absolute;
  background: blue;
  opacity: 0.5;
  transition: all 1000ms linear;
}